<?xml version="1.0" encoding="UTF-8"?>
<jobs xmlns="http://www.demandware.com/xml/impex/jobs/2015-07-01">
    <job job-id="Generate Redirects" priority="0">
        <description/>
        <parameters/>
        <flow>
            <context site-id=""/>
            <step step-id="GenerateRedirects" type="custom.CSComponents.GenerateRedirects" enforce-restart="false">
                <description/>
                <parameters>
                    <parameter name="Catalog-ID"></parameter>
                    <parameter name="Refinements"></parameter>
                </parameters>
            </step>
        </flow>
        <flow>
            <context site-id="Sites"/>
            <step step-id="ImportRedirects" type="ImportSiteArchive" enforce-restart="false">
                <description/>
                <parameters>
                    <parameter name="ImportFile">redirect-urls.zip</parameter>
                    <parameter name="ImportMode">merge</parameter>
                </parameters>
            </step>
        </flow>
        <rules/>
        <triggers>
            <run-once enabled="false">
                <date>2022-09-27Z</date>
                <time>22:12:13.000Z</time>
            </run-once>
        </triggers>
    </job>
</jobs>
